nav
    ol.nav-menu 
        li#nav-my-city(data-to=".my-city")
            span MY CITY
        li#nav-quests(data-to=".quests")
            span QUESTS
        li#nav-friends(data-to=".friends")
            span FRIENDS
        li#nav-my-account(data-to=".my-account")
            span MY ACCOUNT
        li#nav-help(data-to=".help")
            span HELP
        li.next-round-button
            span NEXT ROUND
