nav
    ol.nav-menu 
        li 
            span STATS
        li
            span MY CITY
        li
            span FRIENDS
        li
            span CITIES
        li
            span MY ACCOUNT
        li
            span HELP
        li.next-round-button
            span NEXT ROUND
