nav
    ol.nav-menu 
        li.stats.modal-button 
            span STATS
        li.buildings.modal-button
            span MY CITY
        li.friends.modal-button
            span FRIENDS
        li.other-cities.modal-button
            span CITIES
        li.settings.modal-button
            span MY ACCOUNT
        li.help.modal-button
            span HELP
