nav 
    ul 
        li.stats 
            span STATS
        li.buildings
            span MY CITY
        li.friends
            span FRIENDS
        li.other-cities 
            span CITIES
        li.settings
            span MY ACCOUNT
        li.help
            span HELP
