doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet" href="/css/vars.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/friendsStyle.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css", integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm", crossorigin="anonymous")

    body
        include ./components/nav.pug

        include ./sections/myCity.pug
        include ./sections/quests.pug
        include ./sections/friends.pug
        include ./sections/myAccount.pug
        include ./sections/settings.pug
        include ./sections/help.pug

        include ./components/notificationStack.pug

        script(src="/js/utils.js")
        script(src="/js/drawTilemap.js")
        script(src="/socket.io/socket.io.js")
        script(src="https://unpkg.com/axios/dist/axios.min.js", defer)
        script(src="/js/setAsMarked.js")
        script(src="/services/api.service.js")
        script(src="/services/user.service.js")
        script(src="/js/socket.js")
        script(src="/js/nav.js")
        script(src="/js/movement.js")
        script(src="/js/hide.js")
        script(src="/js/friends.js")
        script(src="/auth/logout.js")
