@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: radial-gradient(circle, #122e59, #132e55, #152e51, #172d4d, #192d49, #192d47, #1a2c46, #1a2c44, #192c45, #172b45, #162b46, #142a46);
  color: var(--color);
  font-family: var(--font);
  overflow: hidden;
}
/* CTX */
canvas {
  display: block;
  position: absolute;
  overflow: hidden;
}

#map-ctx {
  z-index: 1;
}

#building-ctx {
  z-index: 2;
}

#marked-ctx {
  z-index: 3;
}

/* NAV */
nav {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid white;
  z-index: 1000000;
  position: relative;
  background: inherit;
}

.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.nav-menu span {
  display: block;
}

.nav-menu li {
  float: left;
  height: 100%;
  text-align: center;
  font-size: var(--nav-font-size);
  cursor: pointer;
}

.nav-menu span::first-letter {
  color: white;
}

.info-icon{
  color: white;
}

/* MAP */
.my-city {
  height: calc(100% - 50px);
  width: 120%;
  z-index: 1000;
}

.map {
  width: 100%;
  height: 100%;
  float: right;
  white-space: nowrap;
}

.chunk {
  height: 48px;
  width: 48px;
  display: inline-block;

  -webkit-user-drag: none;
  user-select: none;
}

.chunk-container {
  height: 48px;
  width: 48px;
  display: inline-block;
  margin: -4px -2.2px;
}

.marked-chunk {
  box-sizing: border-box;
  border: 2px solid white;
}

/* CITY INFO */
.city-info {
  height: calc(100% - 50px);
  width: 20%;
  float: left;
  font-size: 26px;
  transition: left 1s;
  color: black;
  z-index: 100;
}

.city-info::first-letter {
  color: white;
}

.city-info-list {
  list-style: none;
}

.city-info li {
  margin-top: 16px;
}

.info-value {
  color: rgb(233, 221, 221);
}

.chunk-info {
  width: 80%;
  height: 20%;
  position: absolute;
  right: 0;
  bottom: 0;

  z-index: 100;

  color: black;
  transition: bottom 1s;
}

/* BUILDINGS LIST */
.buildings-list {
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 24px;
  left: 0;
}

.building-to-buy {
  height: 100%;
  width: 300px;
  cursor: pointer;
}

#building-to-buy-image {
  height: 128px;
}

.new-building {
  width: 200px;
  height: calc(100% - 20px);
  float: left;
}

/* QUESTS */
.quests {
  height: calc(100% - 50px);
  width: 100%;
  display: grid;
}

.quest-list {
  width: calc(20% - 1px);
  height: calc(100% - 2px);
  float: left;
  color: #168fff;
  font-size: 24px;
  text-align: center;
}

.completed-quests{
  color: #45d56d;
}

.quest-name{
  color: white;
}

.quest-description {
  width: 80%;
  height: 100%;
  padding: 50px 50px;
  float: right;
}


.quest-desc-name {
  color: #a2d2ff;
  font-size: 24px;
  font-weight: 600;
}

.quest-desc {
  color: white;
  font-size: 20px;
  padding: 10px;
}

/* NOTIFICATIONS */
.notification-stack{
  position: absolute;
  right: 2%;
  bottom: 5%;

  height: 60%;
  width: 200px;
}

.notification{
  width: 100%;
  height: 100px;

  background: gray;
  color: white;
  margin: 10px 0 0;
}

.notification-title{
  color: antiquewhite;
  font-weight: bold;
}

/* OPEN AND HIDE */
.open-city-info {
  height: 50px;
  width: 20px;

  position: absolute;
  left: calc(100% + 5px);
  top: 50%;
  transform: translate(-50%, -50%);
  background: #45d56d;
}

.open-chunk-info {
  width: 50px;
  height: 20px;
  z-index: 100;
  position: absolute;
  left: calc(50% - 25px);
  bottom: calc(100% - 5px);

  background: #45d56d;
}

