@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: black;
  color: gray;
  font-family: 'Raleway', sans-serif;
}

/* NAV */
nav {
  background: black;
  width: 100%;
  height: 50px;
}

.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.nav-menu span {
  display: block;
}

.nav-menu li {
  float: left;
  height: 100%;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
}

.nav-menu span::first-letter {
  color: white;
}

/* MODAL */
.modal-nav {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.container {
  width: 60%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background: rgb(89, 95, 91);
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}

/* MAP */
.map {
  width: 80%;
  height: calc(80% - 50px);
  float: right;
  overflow: auto;
  white-space: nowrap;
}

.chunk {
  height: 48px;
  display: inline-block;
  -webkit-user-drag: none;
  user-select: none;
}

.chunk-container {
  height: 48px;
  width: 48px;
  display: inline-block;
}

.marked-chunk {
  border: 1px solid white;
  outline: 1px solid black;
}

/* CITY INFO */
.city-info {
  background: black;
  height: calc(100% - 50px);
  width: 20%;
  float: left;
  color: gray;
  font-size: 26px;
}

.city-info::first-letter {
  color: white;
}

.city-info-list {
  list-style: none;
}

.city-info li {
  margin-top: 16px;
}

.info-value {
  color: rgb(233, 221, 221);
}

.chunk-info {
  background: black;
  width: 80%;
  height: 20%;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* BUILDINGS LIST */
.buildings-list {
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0%;
  font-size: 24px;
  left: 0;
}

.building-to-buy {
  height: 100%;
  width: 300px;
  cursor: pointer;
}

#building-to-buy-image {
  height: 128px;
}

.new-building {
  width: 200px;
  height: calc(100% - 20px);
  float: left;
}

/* QUESTS */
.quests {
  height: calc(100% - 50px);
  width: 100%;
}

.quest-list {
  width: 20%;
  height: 100%;
  float: left;
  color: white;
  font-size: 24px;
}

.quest-list ul {
  list-style: none;
}

.quest-list li {
  margin: 20px 0 0 ;

}

.quest-description {
  width: 80%;
  height: 100%;
  float: left;
  color: white;
}

.quest-description .name {
  font-size: 24px;
  color: antiquewhite;
}

.marked-quest {
  color: #33bd33;
}
